.slice-2 {
    .chart {
        position : relative;
        margin : 0 auto;
        width : 297.5px;
        height : 218px;
        > div {
            position : absolute;
            opacity : 0;
            color : #FFF;
            -webkit-transition : opacity .9s ease-in-out;
            transition : opacity .9s ease-in-out;
            &.c1 {
                width : 297.5px;
                height : 218px;
                background : url( @@path.images/slice2-1.png );
                background-size : contain;
                opacity : 1;
            }
            &.c2 {
                width : 297.5px;
                height : 218px;
                background : url( @@path.images/slice2-2.png );
                background-size : contain;
            }
            &.p1 {
                font-size : 20px;
                left : 46px;
                top : 125px;
            }
            &.p2 {
                font-size : 25px;
                left : 165px;
                top :120px;
            }
        }
    }
    .legend {
        width : 220px;
        margin : 5px auto 0;
        span {
            float : left;
            display : block;
            margin-left : 13px;
            &.color {
                width : 13px;
                height : 13px;
                background : #33acf2;
                margin-left : 25px;
                &.c2 {
                    background : #686868;
                }
            }
            &:first-child {
                margin-left : 0;
            }

        }

    }

}
