.slice-9 {
    ul {
        margin : 0 auto;
        width : 226px;
        li {
            float : left;
            div {
                height : 110px;
                color : #ff3e3e;
                font-size : 14px;
                text-align : center;
                width : 127px;
                padding-top : 74px;
                background-repeat : no-repeat;
                background-size : 127px 58px;
                -webkit-box-sizing : border-box;
                box-sizing : border-box;
                position : relative;
                opacity : 0;
                -webkit-transition : all .9s ease-in-out; 
                transition : all .9s ease-in-out; 
                &.wood {
                    background-image : url( @@path.images/slice9-1.png );
                }
                &.coal {
                    background-image : url( @@path.images/slice9-2.png );
                }
                &.truck {
                    background-image : url( @@path.images/slice9-3.png );
                }
                &.oil {
                    background-image : url( @@path.images/slice9-4.png );
                }
            }
            &:nth-child( even ) {
                margin-left : 40px;
                div {
                    width : 57px;
                    background-size : 58px;
                }
            }
        }
    }
}
