.slice-6 {
    .chart {
        width : 230px;
        height : 125px;
        margin : 0 auto;
        position : relative;
        div {
            position : absolute;
            -webkit-transition : all .9s ease-in-out;
            transition : all .9s ease-in-out;
            &.car {
                width : 213.5px;
                height : 142.5px;
                background : url( @@path.images/slice6-1.png ) no-repeat;
                background-size : contain;
                left : -500px;
                top : 0;
            }
            &.water {
                opacity : 0;
                width : 34px;
                height : 58px;
                left : 200px;
                top : 30px;;
                background : url( @@path.images/slice6-2.png ) no-repeat;
                background-size : contain;
            }
            &.text {
                opacity : 0;
                font-size : 14px;
                color : #282828;
                left : 95px;
                top : 25px;
            }
        }
    }
    .legend {
        width : 243px;
        height : 90px;
        margin : 20px auto 0;
        background : url( @@path.images/slice6-3.png ) no-repeat;
        background-size : contain;
        padding-top : 50px;
        -webkit-box-sizing : border-box;
        box-sizing : border-box;
        p {
            font-size : 12px;
            color :o #282828;
            margin-top : 15px;
        }
    }

}
