.slice-7 {
    .chart {
        position : relative;
        margin : 0 auto;
        width : 290px; 
        height : 130px;
        .item {
            width : 55px;
            height : 27px;
            position : absolute;
            left : -9999px;
            &.diesel {
                width : 240px;
                height : 136px;
                top : 0;
                left : 0;
                background : url( @@path.images/slice7-1.png ) no-repeat;
                background-size : contain;
                -webkit-transition : all .9s ease-in-out; 
                -webkit-transform : scale( .2 );
                -webkit-transform-origin : 50% 90%; 
                #times {
                    position : absolute;
                    top : 81px;
                    left : 35px;
                    font-family : arial;
                    font-weight : bold;
                    color : #FFF;
                    font-size : 20px;
                }
            }
            &.gasoline {
                left : 240px;
                top : 102px;
                background : url( @@path.images/slice7-2.png ) no-repeat;
                background-size : contain;
            }
        }
    }
    .legend {
        width : 220px;
        margin : 35px auto 0;
        span {
            float : left;
            display : block;
            margin-left : 13px;
            &.color {
                width : 13px;
                height : 13px;
                background : #ee462b;
                margin-left : 25px;
                &.c2 {
                    background : #83e579;
                }
            }
            &:first-child {
                margin-left : 0;
            }

        }

    }
}
