.slice-4 {
    .chart {
        width : 252px;
        height : 252px;
        position : relative;
        margin : 0 auto;
        > div {
            position : absolute;
            -webkit-transform-origin : 50% 100%;
            -webkit-transform : scale( 0 );
            transform : scale( 0 );
            -webkit-transition : all 1s ease-in-out;
            transition : all 1s ease-in-out;
        }
        .c1 {
            width : 252px;
            height : 252px;
            background : url( @@path.images/slice4-1.png );
            background-size : contain;
        }
        .c2 {
            width : 188px;
            height : 188px;
            background : url( @@path.images/slice4-2.png );
            background-size : contain;
            top : 64px;
            left : 30px;
        }
        .c3 {
            width : 130px;
            height : 130px;
            top : 118px;
            left : 60px;
            background : url( @@path.images/slice4-3.png );
            background-size : contain;
        }


    }
}
