.slice-8 {
    .chart {
        width : 215px;
        margin : 0 auto;
        .group {
            > div {
                position : relative;
                height : 164px;
            }
            width : 50px;
            float : left;
            font-size : 12px;
            color : #282828;
            margin-left : 20px;
            .bar {
                height : 0;
                position : absolute;
                bottom : 0;
                width : 16px;
                background : #ee462b;
                left : 20px;
                -webkit-transition : all .9s ease-in-out; 
                transition : all .9s ease-in-out; 
                &.b1 {
                    background : #f4d921;
                    left : 0;
                }
                &.b3 {
                    background : #f4d921;
                    left : 0;
                }
                &.b5 {
                    background : #f4d921;
                    left : 0;
                }
            }
            p {
                margin-top : 5px;
            }
        }
    }
    .legend {
        width : 150px;
        margin : 15px auto 0;
        span {
            float : left;
            display : block;
            margin-left : 13px;
            &.color {
                width : 13px;
                height : 13px;
                background : #f4d921;
                margin-left : 25px;
                &.c2 {
                    background : #ee462b;
                }
            }
            &:first-child {
                margin-left : 0;
            }

        }
    }
}
