.slice-10 {
    .bd {
        .content {
            color : #ff3e3e;
            font-size : 23px;
            text-align : center;
            .tel {
                font-size : 90px;
                font-weight : bold;
                font-family : arial;
                margin-top : 10px;
            }
        }
    }
}
