.slice-16 {
    display : none;
    background : #f33a39; 
    .container {
        width : 148px;
        height : 259px;
        margin : 56px auto 0;
        background : url( ./images/pic16-1.png ) no-repeat;
        -webkit-background-size : 148px 259px;
        background-size : 148px 259px;
    }
    .buttons {
        margin : 40px auto 0;
        width : 226px;
        visibility : hidden;
        a {
            float : left;
            display : block;
            width : 95px;
            height : 30px;
            line-height : 30px;
            text-align : center;
            text-decoration : none;
            color : #FFF;
            font-size : 12px;
            border : solid 2px #FFF;
            -webkit-border-radius : 5px;
            border-radius : 5px;
            margin-left : 28px;
            &:first-child {
                margin-left : 0;
            }
        }
    }

    .n {
        width : 50px;
        height : 12px;
        background : url( ./images/pic16-2.png ) no-repeat;
        -webkit-background-size : 50px 12px;
        background-size : 50px 12px;
        margin : 17px auto 0;
    }
    .text {
        width : 290px;
        margin : 15px auto 0;
        font-size : 8px;
        color : #a31615;
        line-height : 1.4em;
        p:last-child {
            padding-left : 15px;
        }
    }
    .mask {
        position : fixed;
        left : 0;
        top : 0;
        right : 0;
        bottom : 0;
        width : 100%;
        height : 100%;
        background : url( ./images/mask.png ) no-repeat rgba( 0, 0, 0, .5);
        background-size : contain;
        display : none;
    }
}
