.slice-5 {
    .chart {
        position : relative;
        margin : 0 auto;
        width : 257.5px;
        height : 209px;
        background : url( @@path.images/slice5-1.png );
        background-size : contain;
        top : -1000px;
        -webkit-transition : all .9s ease-in-out;
        transition : all .9s ease-in-out;
    }
    .legend {
        width : 160px;
        margin : 15px auto 0;
        position : relative;
        top : 1500px;
        -webkit-transition : all .9s ease-in-out;
        transition :all .9s ease-in-out;
        span {
            float : left;
            display : block;
            margin-left : 13px;
            &.color {
                width : 13px;
                height : 13px;
                background : #282828;
                margin-left : 25px;
                &.c2 {
                    background : #ff903e;
                }
            }
            &:first-child {
                margin-left : 0;
            }
        }
    }
}
