.slice-3 {
    .chart {
        width : 280px;
        height : 280px;
        margin : 0 auto;
        background : url( @@path.images/slice3-1.png );
        background-size : contain;
        -webkit-transform : scale( 0 ) rotate( 45deg );
        transform : scale( 0 ) rotate( 45deg );
        -webkit-transition : all .9s ease-in-out;
        transition : all .9s ease-in-out;
    }
}
